/*CSS for Andela Project 4 - my Shopping List App with JavaScript
Fiyinfoluwa Adebayo
21-25th November, 2014
(revisited and restyled on 13-14th December, 2014)*/


body {
  background-color: #ddd;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  /*font-family: 'Dancing Script', cursive;  */
}

#main {
  max-width: 840px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 5%;
  box-shadow: 0 0 1em .1em maroon;
}

header {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 5px 0;
  background-color: #471B08;
  color: #fff;
  border-radius: .5em;
}

header h1 {
  font-family: 'Stalemate', 'Titillium Web';
  font-size: 2.25em;
  margin: 10px 0;
  font-weight: normal;
}

#topNav {
  float: right;
  margin: 2em 1em 0;
}

#topNav li {
  display: inline-block;
  margin-left: 10px;
}

#topNav a {
  text-decoration: none;
  color: #fff;
}

#topNav a:hover {
  text-decoration: underline;
}

#topNav li a.selected {
  color: #ddd;
}

#status {
  color: #ff0000;
}

#left {
  margin: 10px 10px;
  border: 1px solid maroon;
  padding: 3%;
  border-radius: 1em;
}

#center {
  border: 1px solid maroon;
  margin: 10px;
  padding: 3%;
  border-radius: 1em;
  line-height: 2em;
  text-align: left;
}

#right {
  border: 1px dotted maroon;
  margin: 10px;
  padding: 3%;
  border-radius: 1em;
  text-align: left;
}

/*Add Items*/
#left h3,
#center h3,
#right h3 {
  font-family: 'Dancing Script';
  font-size: .84em;
  text-align: left;
}

#left label {
  font-size: .83em;
  float: left;
  display: block;
  width: 3em;
  text-align: right;
}

#left input {
  margin-left: 10px;
  width: 13em;
  height: 1.5em;
  border: 1px solid #ddd;
  border-radius: .534em;
  padding-left: 5px;
  outline: none;
}

.itemTextC {
  margin-left: 0;
}

.nairaSpan {
  margin-left: 30px;
  text-decoration: line-through;
}

#left input:focus {
  border: 1px solid #000;
}

#addItemButton,
#center #itemsList li button,
#right #checkedOffItems li button {
  width: 4em;
  height: 2em;
  border-radius: .6em;
  background-color: #6B260D;
  color: #fff;
}

#addItemButton {
  width: 8em;
  margin: 0 auto;
}

#addItemButton:hover,
#center #itemsList li button:hover,
#right #checkedOffItems li button:hover {
  background-color: #813B1C;
  box-shadow: 0 0 .8em .1em #eee;
}

#addItemButton:focus,
#center #itemsList li button:focus,
#right #checkedOffItems li button:focus {
  outline: none;
}

#center #itemsList li button,
#right #checkedOffItems li button {
  margin: 5px 5px;
}

#itemsList li,
#checkedOffItems li {
  margin-top: 20px;
}

#itemsList li label {
  margin-left: 10px;
}

#itemsList li label span {
  text-decoration: line-through;
}

.itemA, 
.itemB, 
.itemC {
  width: 8em;
  height: 2em;
  margin: 10px 0 0 5px;
  border-radius: .534em;
  outline: none;
  border: 1px solid #ddd;
  display: none;
}

.itemA:focus, 
.itemB:focus, 
.itemC:focus {
  border: 1px solid #000;
}

.break:before {
  content: "\000A";
  white-space: pre;
}

#checkedOffItems li label,
#checkedOffItems li span {
  text-decoration: line-through;
  color: #ff0000;
  margin-left: 10px;
}

.socialIcon {
  width: 20px;
  height: 20px;
  margin: 5px 0 0 20px;
}

/*footer*/
footer {
  text-align: center;
  margin: 10px 0 0 0;
  width: 100%;
  background-color: #471B08;
  border-radius: .4em;
}

footer p {
  font-size: .756em;
  color: #fff;
  padding: 2%;
  white-space: pre;
}

/*The End*/
